.leftPanel {
    -fx-background-color: rgb(194, 218, 229);
}

.leftPanel > .button {
    -fx-background-color: rgb(194, 218, 229);
    -fx-background-radius: 30;
}

.leftPanel > .button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.76);
}